<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Marathon & something else" %></title>
    <%= yield(:twitter_card) if content_for?(:twitter_card) %>
    <%= yield(:vk_card) if content_for?(:vk_card) %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= auto_discovery_link_tag(:atom, root_url + 'feed.atom', {title: "Marathon & something else"}) %>
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,cyrillic" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <meta name="google-site-verification" content="7fgwhk11ZIzu5De9CbBklLvuVVHFZuhcl_awkPmZ66c" />
    <meta name='yandex-verification' content='7aad7c699d19e161' />
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="large-12 small-12 columns">
	<h1 class="title"><%= link_to 'Marathon & something else', root_path %></h1>
	<p>Небольшой блог для самомотивации в процессе подготовки к марафону и прочих записей</p>
      </div>
    </div>
    <div class="row">
      <div class="large-12 small-12 columns panel">
	<%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
    <% if action_name == 'edit' || action_name == 'new' || action_name == 'create' %>
      <%= javascript_include_tag "ckeditor/ckeditor" %>
      <%= javascript_include_tag "ckeditor_init" %>
    <% end %>
    <% if Rails.env.production? %>
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript">
      (function (d, w, c) {
	  (w[c] = w[c] || []).push(function() {
	      try {
		  w.yaCounter24248080 = new Ya.Metrika({id:24248080});
	      } catch(e) { }
	  });

	  var n = d.getElementsByTagName("script")[0],
	      s = d.createElement("script"),
	      f = function () { n.parentNode.insertBefore(s, n); };
	  s.type = "text/javascript";
	  s.async = true;
	  s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

	  if (w.opera == "[object Opera]") {
	      d.addEventListener("DOMContentLoaded", f, false);
	  } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
      </script>
      <noscript><div><img src="//mc.yandex.ru/watch/24248080" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->
    <% end %>
  </body>
</html>